/* bootstrap icon */
.bi { vertical-align: -.125em; fill: currentColor; }

/* bootstrap list group */
.list-group-hanging .list-group-item { padding-left: 5rem; text-indent: -4rem; }

/* reference list */
.ref-item { padding-left: 4em; text-indent: -4em; }
.ref-item .journal-title,
.ref-item .journal-volume,
.ref-item .presn-title { font-style: italic; }
.ref-item-kr .journal-title,
.ref-item-kr .journal-volume,
.ref-item-kr .presn-title { font-style: normal; font-weight: bold; }